<div class="relative w-full snap-center">
  <%= link_to spot_path(spot) do %>
    <div class="absolute z-50 h-full w-10/12"></div>
  <% end %>
  <div class="relative">
    <div
      class="
        absolute flex w-full items-center justify-between px-3 pt-3 align-middle
      "
    >
      <p
        class="
          text-description rounded-full bg-neutral-400 px-4 py-1 font-semibold text-white
          shadow-lg
        "
      ><%= spot.category %></p>

      <div>
        <% bookmark = Bookmark.where(user: current_user, spot: spot).first %>
        <% if bookmark %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="h-9 w-7 text-teal-400"
          >
            <path
              fill-rule="evenodd"
              d="M6.32 2.577a49.255 49.255 0 0 1 11.36 0c1.497.174 2.57 1.46 2.57 2.93V21a.75.75 0 0 1-1.085.67L12 18.089l-7.165 3.583A.75.75 0 0 1 3.75 21V5.507c0-1.47 1.073-2.756 2.57-2.93Z"
              clip-rule="evenodd"
            />
          </svg>

        <% else %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="white"
            class="h-9 w-7"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
            />
          </svg>
        <% end %>

      </div>
    </div>
    <%= cl_image_tag(
      spot.photos.first.key,
      class: "h-bigcardheight aspect-square w-full rounded-xl",
      alt: "image of #{spot.name}",
    ) %>
  </div>
  <div class="mt-4">
    <div class="flex items-center justify-between ">
      <p class="text-s font-semibold"><%= spot.name %></p>
      <p class="text-description flex items-center align-middle font-light">3.5
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="ml-2 h-4 w-4 pb-px"
        >
          <path
            fill-rule="evenodd"
            d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
            clip-rule="evenodd"
          />
        </svg>
      </p>
    </div>
    <div class="flex items-center justify-between">
      <p class="text-description w-2/3 font-light"><%= spot.subtitle %></p>
      <p class="text-description font-light">3.5 km away</p>
    </div>
  </div>
</div>
