<div class="flex xl:hidden">
  <div class="h-9 w-9 rounded-full bg-teal-400 text-teal-400">.</div>
  <div class="ml-2 text-4xl font-bold">spot<span class="text-teal-400">z</span></div>
</div>

<div id="desktop" class="mt-20 hidden xl:block">
  <%= form_with url: search_spots_path, method: :post, class: "flex justify-between items-center gap-2 mb-4 mt-28 pb-2 " do |form| %>
    <div>
      <%= form.text_field :search, placeholder: "Find a spot...",  class: "w-72 rounded-lg border-[1px] border-solid border-slate-400 px-4 py-2 hover:drop-shadow-md" %>
      <%= form.submit :search, class: "rounded-lg bg-teal-400 border-[1px] border-solid border-teal-400 font-semibold text-white px-4 py-2 cursor-pointer" %>
    </div>
    <div>
      <%= form.select :category, 
        options_for_select(Category.all.map { |cat| [cat.name, cat.id] }.insert(0, ["Category", ""])), 
        {},
        { class: "cursor-pointer w-40 rounded-lg border-[1px] border-solid border-slate-400 px-4 py-2 hover:drop-shadow-md text-slate-600" } %>

      <%= form.select :distance, 
        [["< 1km", 1], ["< 5km", 5], ["< 15km", 15], ["< 25km", 25], ["< 50km", 50]].insert(0, ["Distance", ""]), 
        {}, 
        { class: "w-40 cursor-pointer  rounded-lg border-[1px] border-solid border-slate-400 px-4 py-2 hover:drop-shadow-md text-slate-600" } %>

      <%= form.select :rating, 
        ["> 1 star", "> 2 stars", "> 3 stars", "> 4 stars", "5 stars"].insert(0, ["Rating", ""]), 
        {}, 
        { class: "w-40 rounded-lg border-[1px] border-solid border-slate-400 cursor-pointer px-4 py-2 hover:drop-shadow-md text-slate-600" } %>
    </div>
  <% end %>
  <div id="spots">
    <%= render "pages/desktop_spot_grid", spots: @spots %>
  </div>
</div>

<div id="mobile" class="xl:hidden" data-controller="item-toggle">
  <div class="top-0 z-10 bg-white pb-2 pt-2">
    <%= render "searchbar" %>
    <div class="mt-2 flex justify-evenly divide-x-2 divide-slate-200">
      <div
        class="
          mb-2 w-full cursor-pointer border-slate-200 pb-2 text-center text-xl font-light
          text-slate-400
        "
        data-action="click->item-toggle#showItem1"
        data-item-toggle-target="item1Header"
      >
        List
      </div>
      <div
        class="
          mb-2 w-full cursor-pointer border-slate-200 pb-2 text-center text-xl font-light
          text-slate-400
        "
        data-action="click->item-toggle#showItem2"
        data-item-toggle-target="item2Header"
      >
        Map
      </div>
    </div>
  </div>
  <div>
    <div id="item1" data-item-toggle-target="item1" class="hidden">
      <% @spots.sort_by(&:name).each do |spot| %>
        <div class="mb-8 mt-4">
          <%= render "card_spot", spot: spot %>
        </div>
      <% end %>
    </div>
    <div id="item2" data-item-toggle-target="item2" class="hidden">
      <div class="map-container">
        <div
          id="index"
          class="
            mb-4 mt-4 flex flex-col justify-center rounded-xl border border-b
            border-slate-200
          "
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        >
        </div>
      </div>
    </div>
  </div>
</div>
