<%= turbo_frame_tag "modal" do %>
  <div
    class="fixed inset-0 z-40 overflow-y-auto"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
  >
    <div
      class="
        flex min-h-screen w-full items-end justify-center p-0 px-4 pb-16 pt-4
        text-center
      "
    >
      <div
        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        aria-hidden="true"
      ></div>
      <span
        class="hidden sm:inline-block sm:h-screen sm:align-middle"
        aria-hidden="true"
      >&#8203;</span>
      <div
        class="
          -mx-4 mb-28 inline-block w-full transform overflow-hidden rounded-xl bg-white
          px-4 pb-4 pt-5 text-left align-bottom shadow-xl transition-all
        "
      >
        <div class="flex justify-between">
          <h1 class="mb-4 text-xl font-semibold text-gray-800">Options</h1>
          <%= link_to spot_path(params[:spot_id]), data: {turbo_frame: "_top"} do %>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
            </svg>
          <% end %>
        </div>
        <div class="my-4">
          <% if @visit %>
            <%= button_to visit_path(params[:spot_id]), data: {turbo_frame: "_top"}, method: :delete, class: "w-full" do %>
              <%= render "shared/button_primary", text: "Visited" %>
            <% end %>
          <% else %>
            <%= button_to spot_visits_path, data: {turbo_frame: "_top"}, class: "w-full" do %>
              <%= render "shared/button_secondary", text: "Mark as visited" %>
            <% end %>
          <% end %>
        </div>
        <div class="my-4">
          <% if @bookmark %>
            <%= button_to bookmark_path(params[:spot_id]), data: {turbo_frame: "_top"}, method: :delete, class: "w-full" do %>
              <%= render "shared/button_primary", text: "Bookmarked" %>
            <% end %>
          <% else %>
            <%= button_to spot_bookmarks_path, data: {turbo_frame: "_top"}, class: "w-full" do %>
              <%= render "shared/button_secondary", text: "Add to bookmarks" %>
            <% end %>
          <% end %>
        </div>
        <div class="my-4">
          <% if @review %>
            <div class="flex">
              <%= link_to edit_review_path(@review), data: {turbo_frame: "modal"}, class: "w-full" do %>
                <%= render "shared/button_secondary", text: "Edit review" %>
              <% end %>
              <%= link_to review_path(@review), data: {turbo_method: :delete}, class: "w-full ml-2" do %>
                <%= render "shared/button_delete", text: "Delete review" %>
              <% end %>
            </div>
          <% else %>
            <%= link_to new_spot_review_path, data: { turbo_frame: "modal" }, class: "w-full" do %>
              <%= render "shared/button_secondary", text: "Leave a review" %>
            <% end %>

          <% end %>
        </div>
        <div class="my-4">
          <%= render "shared/button_secondary", text: "Add to an experience" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
