<div data-controller="swiper" class="relative">
  <!-- back button -->
  <%= link_to :back, class: "absolute top-10 z-50  flex" do %>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      fill="currentColor"
      class="size-8 rounded-full bg-slate-50 p-1 shadow-xl"
    >
      <path
        fill-rule="evenodd"
        d="M14 8a.75.75 0 0 1-.75.75H4.56l3.22 3.22a.75.75 0 1 1-1.06 1.06l-4.5-4.5a.75.75 0 0 1 0-1.06l4.5-4.5a.75.75 0 0 1 1.06 1.06L4.56 7.25h8.69A.75.75 0 0 1 14 8Z"
        clip-rule="evenodd"
      />
    </svg>

  <% end %>
  <!-- share button -->
  <div class="absolute right-0 top-10 z-50 flex">
    <svg
      data-controller="share"
      data-share-url-value="<%= spot_url(@spot) %>"
      data-action="click->share#share"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      fill="currentColor"
      class="size-8 z-50 flex rounded-full bg-slate-50 p-1 shadow-xl"
    >
      <path
        d="M12 6a2 2 0 1 0-1.994-1.842L5.323 6.5a2 2 0 1 0 0 3l4.683 2.342a2 2 0 1 0 .67-1.342L5.995 8.158a2.03 2.03 0 0 0 0-.316L10.677 5.5c.353.311.816.5 1.323.5Z"
      />
    </svg>
    <!-- elipsis vertical -->
    <%= link_to spot_options_path(@spot), data: { turbo_frame: "modal" }, class: "ml-2" do %>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="size-8 rounded-full bg-slate-50 p-1 shadow-xl"
      >
        <path
          d="M8 2a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM8 6.5a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM9.5 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z"
        />
      </svg>
    <% end %>
  </div>
  <!-- Slider main container -->
  <div class="swiper relative -mx-4 -mt-12 h-72">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper w-full ">
      <!-- Slides -->
      <%= @spot.photos.each do |photo| %>
        <div class="swiper-slide w-full bg-gradient-to-b">
          <%= cl_image_tag photo.key,
          class: "my-transparency-gradient h-full w-full object-cover" %>
        </div>
      <% end %>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination pb-4"></div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="white"
        class="rounded-full"
      >
        <path
          fill-rule="evenodd"
          d="M9.78 4.22a.75.75 0 0 1 0 1.06L7.06 8l2.72 2.72a.75.75 0 1 1-1.06 1.06L5.47 8.53a.75.75 0 0 1 0-1.06l3.25-3.25a.75.75 0 0 1 1.06 0Z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div class="swiper-button-next"><svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="white"
        class="rounded-full"
      >
        <path
          fill-rule="evenodd"
          d="M6.22 4.22a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.75.75 0 0 1-1.06-1.06L8.94 8 6.22 5.28a.75.75 0 0 1 0-1.06Z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
  </div>

  <div class="flex justify-between">
    <div>
      <div class="text-2xl font-bold"><%= @spot.name %></div>
      <div class="mt-1 flex items-center">
        <% if @average_rating.nan? %>
          0
        <% else %>
          <%= @average_rating %>
        <% end %>
        <div class="ml-1 flex">
          <!-- star rating -->
          <div class="rating">
            <div class="rating-average">
              <div class="star-outer">
                <% if @average_rating.nan? %>
                  <div class="star-inner" style="width: 0%;">
                <% else %>
                  <div class="star-inner" style="width: <%= (@average_rating / 5) * 100 %>% ">
                <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- amount of reviews -->
        <div class="ml-1">(<%= @spot.reviews.count %>)</div>
        <div class="ml-1 text-teal-400">
          •
          <%= @short_distance %>
          km away
        </div>
      </div>
    </div>
    <!-- bookmark -->
    <% if @bookmark.first %>
      <%= button_to bookmark_path(@spot), method: :delete, class: "w-full" do %>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="h-9 w-7 text-teal-400"
        >
          <path
            fill-rule="evenodd"
            d="M6.32 2.577a49.255 49.255 0 0 1 11.36 0c1.497.174 2.57 1.46 2.57 2.93V21a.75.75 0 0 1-1.085.67L12 18.089l-7.165 3.583A.75.75 0 0 1 3.75 21V5.507c0-1.47 1.073-2.756 2.57-2.93Z"
            clip-rule="evenodd"
          />
        </svg>
      <% end %>
    <% else %>
      <%= button_to spot_bookmarks_path(@spot), class: "w-full" do %>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="black"
          class="h-9 w-7"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
          />
        </svg>
      <% end %>
    <% end %>
  </div>
  <!-- Metrics -->
  <div class="flex w-full justify-between border-b border-slate-200 py-4">
    <div class="w-32 flex-col px-4 py-2">
      <div class="text-center font-bold"><%= @bookmarks.count %></div>
      <div class="text-center">Bookmarks</div>
    </div>
    <div class="w-32 flex-col px-4 py-2">
      <div class="text-center font-bold"><%= @visits.count %></div>
      <div class="text-center">Visits</div>
    </div>
    <div class="w-32 flex-col px-4 py-2">
      <div class="text-center font-bold"><%= @experiences.count %></div>
      <div class="text-center">Experiences</div>
    </div>
  </div>
  <!-- Description -->
  <p class="border-b border-slate-200 py-4 text-slate-700"><%= @spot.description %></p>
</div>
<!-- Map Section -->
<div class="border-b border-slate-200 pb-4">
  <div
    class="
      mb-4 mt-8 flex h-56 w-full flex-col justify-center rounded-xl border border-b
      border-slate-200
    "
    data-controller="map"
    data-map-markers-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  >
  </div>
  <div class="flex"><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="size-6"
    >
      <path
        fill-rule="evenodd"
        d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
        clip-rule="evenodd"
      />
    </svg>
    <p class="ml-1"><%= @spot.address %></p>
  </div>
  <div class="my-4">
    <%= link_to "https://www.google.de/maps/search/#{@spot.address}" do %>
      <%= render "shared/button_primary", text: "Get directions" %>
    <% end %>
  </div>
</div>

<div class="mt-12">
  <div class="text-xl font-bold">Events near
    <span class="text-teal-400"><%= @spot.name %></span>
  </div>
  <%= render "shared/event_carousel", events: @events %>
</div>

<div class="my-4">
  <div class="text-xl font-bold">Reviews
    <span class="text-teal-400">(<%= @spot.reviews.count %>)</span>
  </div>
  <%= render "shared/review_carousel", reviews: @spot.reviews %>
  <%= link_to spot_reviews_path(@spot) do %>
    <%= render "shared/button_secondary", text: "View all reviews" %>
  <% end %>
</div>

<div class="mt-12 text-xl font-bold">Experiences
  <span class="text-teal-400">(<%= @experiences.length %>)</span>
</div>
<div class="divide-y-2 divide-gray-100">

  <% @experiences[0..1].each do |experience| %>
    <%= render "shared/experience", experience: experience %>
  <% end %>
</div>
<div class="mb-4">
  <%= link_to spot_experiences_path(@spot) do %>
    <%= render "shared/button_secondary", text: "View all experiences" %>
  <% end %>
</div>
