<div class="flex xl:hidden">
  <div class="h-9 w-9 rounded-full bg-teal-400 text-teal-400">.</div>
  <div class="ml-2 text-2xl font-bold">spot<span class="text-teal-400">z</span></div>
</div>
<div class="mt-10 xl:mt-32 text-2xl font-bold sm:text-xl">Popular 
  <span class="text-teal-400">spotz</span>
  in your area
</div>

<%= render "desktop_spot_grid", spots: @spots %>
<div class="xl:hidden">
  <%= render "spot_carousel", spots: @spots %>
</div>

<div class="mt-8 text-2xl font-bold sm:text-xl xl:mt-20">
  <span class="text-teal-400">Events</span>
  near you
</div>
<%= render "shared/event_carousel", events: @events %>

<div class="mt-8 text-2xl font-bold sm:text-xl xl:mt-20">Curated
  <span class="text-teal-400">Experiences</span>
</div>
<div class="divide-y-2 divide-gray-100">
  <% @experiences[0..1].each do |experience| %>
    <%= render "shared/experience", experience: experience %>
  <% end %>
</div>

<%= link_to experiences_path do %>
  <%= render "shared/button_secondary", text: "View all experiences" %>
<% end %>
