<%= turbo_frame_tag "modal" do %>
  <div
    class="fixed inset-0 z-40 overflow-y-auto"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
  >
    <div class=
        "flex min-h-screen w-full items-end justify-center p-0 px-4 pb-16 pt-4
        text-center">
      <div
        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        aria-hidden="true"
      ></div>
      <span
        class="hidden sm:inline-block sm:h-screen sm:align-middle"
        aria-hidden="true"
      >&#8203;</span>
      <div
        class="
          -mx-4 mb-28 inline-block w-full transform overflow-hidden rounded-xl bg-white
          px-4 pb-4 pt-5 text-left align-bottom shadow-xl transition-all
        "
      >
        <div class="flex justify-between">
          <h1 class="mb-4 text-xl font-semibold text-gray-800">Settings</h1>
          <%= link_to pages_profile_url, data: {turbo_frame: "_top"} do %>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
            </svg>
          <% end %>
        </div>

        <div class="my-4">
          <%= render "shared/button_secondary", text: "Change profile picture" %>
        </div>

        <div class="my-4">
          <%= render "shared/button_secondary", text: "Share SPOTZ, get $100" %>
        </div>

        <div class="my-4">
          <%= render "shared/button_delete", text: "Log out" %>
        </div>

      </div>
    </div>
  </div>
<% end %>
