<div class="flex h-full flex-col justify-between divide-y-2 divide-gray-100">
  <div class="pb-4">
    <div class="flex items-start justify-between">
      <p class="w-2/3 text-xl font-semibold"><%= @experience.name %></p>
      <% if @experience.user == current_user %>
        <div class="flex items-start" data-controller="experience">
          <svg
            data-controller="share"
            data-share-url-value="<%= experience_url(@experience) %>"
            data-action="click->share#share"
            data-experience-target="share"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="size-7 mr-2 hidden"
          >
            <path
              d="M12 6a2 2 0 1 0-1.994-1.842L5.323 6.5a2 2 0 1 0 0 3l4.683 2.342a2 2 0 1 0 .67-1.342L5.995 8.158a2.03 2.03 0 0 0 0-.316L10.677 5.5c.353.311.816.5 1.323.5Z"
            />
          </svg>
          <%= link_to experience_path(@experience), data: { turbo_method: :delete } do %>
            <svg
              data-experience-target="delete"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6 mr-2 hidden text-red-600"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
              />
            </svg>
          <% end %>
          <svg
            data-experience-target="options"
            data-action="click->experience#toggleUser"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z"
            />
          </svg>
        </div>
      <% else %>
        <svg
          data-controller="share"
          data-share-url-value="<%= experience_url(@experience) %>"
          data-action="click->share#share"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="size-6"
        >
          <path
            d="M12 6a2 2 0 1 0-1.994-1.842L5.323 6.5a2 2 0 1 0 0 3l4.683 2.342a2 2 0 1 0 .67-1.342L5.995 8.158a2.03 2.03 0 0 0 0-.316L10.677 5.5c.353.311.816.5 1.323.5Z"
          />
        </svg>

      <% end %>
    </div>
    <div class="text-description mt-1 flex items-center">
      <% if @average_rating.nan? %>
        0
      <% else %>
        <%= @average_rating %>
      <% end %>
      <div class="ml-1 flex">
        <!-- star rating -->
        <% 5.times do %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="size-3"
          >
            <path
              fill-rule="evenodd"
              d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z"
              clip-rule="evenodd"
            />
          </svg>
        <% end %>
      </div>
      <p class="text-slate-500">
        (<%= @experience.reviews.length %>)
      </p>
      <p class="text-description ml-1 text-teal-400">•
        <%= @experience.spots.count %>
        spotz</p>
    </div>
    <div class="flex justify-between">
      <div class="text-description mt-1 flex items-center font-light"><div class="text-gray-400">created by
          <%= @experience.user.username %></div>
        <div class="size-6 ml-1 mr-3 rounded-full ring-2 ring-white">
          <%= cl_image_tag @experience.user.photo.key,
          class: "rounded-full size-6 ring-2 ring-white" %>
        </div>
      </div>
      <div>
        <%= link_to experience_reviews_path(@experience) do %>
          <p class="text-description mt-1 flex items-center">See reviews</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="py-4"><%= @experience.description %></div>
  <div class="py-4">
    <% @experience.spots.each do |spot| %>
      <%= render "card_spot_experience", experience: @experience, spot: spot %>
    <% end %>
    <% if @experience.user == current_user %>
      <%= link_to new_experience_link_path(@experience) do %>
        <div class="flex justify-center py-4"><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6 text-slate-400"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 4.5v15m7.5-7.5h-15"
            />
          </svg>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
