<!--HEADLINE-->
<div class="relative">
  <div class="mt-8 flex">
    <div class="h-9 w-9 rounded-full bg-teal-400 text-teal-400">.</div>
    <div class="ml-2 text-4xl font-bold">reviews<span class="text-teal-400 ml-1 text-2xl"></span></div>
  </div>
</div>


<%= render "shared/card_spot_bookmark", spot:@spot %>

<!--BUTTON-->
<div class="my-4">
<% if @review %>
  <div class="flex">
    <%= link_to edit_review_path(@review), class: "w-full" do %>
      <%= render "shared/button_secondary", text: "Edit review" %>
    <% end %>
    <%= link_to review_path(@review), data: {turbo_method: :delete}, class: "w-full ml-2" do %>
      <%= render "shared/button_delete", text: "Delete review" %>
    <% end %>
  </div>
    <% else %>
  <%= link_to new_spot_review_path, class: "w-full" do %>
    <%= render "shared/button_primary", text: "Leave a review" %>
  <% end %>

    <% end %>
  </div>
<!--REVIEWS-->
<div class="ml-2 text-2xl font-bold">reviews<span class="text-teal-400 ml-1 text-xl">(<%= @reviews.count %>)</span></div>
<% @reviews.each do |review| %>
<%= render "shared/review_full", review:review %>
<% end %>
